
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Nunito',sans-serif;
}
 .navbar {
     height: 90px;
 }

 .navbar-brand {
    font-family: 'Staatliches', cursive;
    
 }

body{
    background-image: url(https://lpmprogress.com/uploads/images/image_750x415_5ee8f696b3a89.jpg);
    background-size: cover;
    text-align: center;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
    transition: all .4s;
}
.container h1{
    text-transform: uppercase;
    font-family: system-ui;
    margin-bottom: 15px;
    color: #4686f6;
}
.container input{
    padding: 10px 15px;
    margin-bottom: 15px;
    width: calc(100% - 30px);
    font-size: 18px;
}
.container ul li{
    list-style-type: none;
    font-size: 25px;
    padding: 15px 0;
    background-color: #cfd8dc;
    transition: .4s;
    margin-bottom: 10px;
    
}
.container ul a{
    color: #212121;
    text-decoration: none;
    
}
